@model List<CommentVisibleDto>

<div class="bg-white" style="padding: 30px; margin-bottom: 30px;">
    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">@ViewBag.NumberofComments Comments</h4>
    @foreach (var item in Model)
    {
        <div class="media mb-4">
            <img src="~/HomeTheme/img/User.png" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
            <div class="media-body">
                <h6><a href="">@item.UserName.Substring(0,2)****</a> <small><i>@item.CommentDate.ToShortDateString()</i></small></h6>
                <p>
                    @item.CommentText
                </p>

            </div>
        </div>
    }
</div>
