
<style>
   .nav-link{
        background: transparent !important;
        color:#fff !important;
   }

   .nav-link:hover{
        background: #198754 !important;
        color: #000 !important;
   }

   .nav-item .nav-item .nav-link:hover{
       background: transparent !important;
        color: #dddedf !important;
   }



</style>


<nav class="sidebar sidebar-offcanvas" id="sidebar" style="background:linear-gradient(153deg, rgba(0,0,0,1) 0%, rgba(25,135,84,1) 100%);">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Navigation</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Topic/TopicList/">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Event Topics</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-palette menu-icon"></i>
                <span class="menu-title">Events</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic" >
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/MysteriousEvent/MysteriousEventList/">Event List</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/MysteriousEvent/MysteriousEventAdd/">New Event</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Reference/ReferencesList/">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">References</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/HomePage">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Website</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Contacts</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Requests</span>
            </a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Log Out</span>
            </a>
        </li>

    </ul>
</nav>