@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<CommentDto>
@{
    ViewData["Title"] = "List of Comments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .btn-primary a {
        color: white;
    }
</style>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Comments</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Detail</th>
                                <th>Delete</th>
                                <th>Accept</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.CommentDate.ToShortDateString()</td>
                                    @if(item.CommentStatus == true)
                                    {
                                        <td><lable class="badge badge-info p-2 rounded">Accepted</lable></td>
                                    }
                                    else
                                    {
                                        <td><lable class="badge badge-warning p-2 rounded">Pending</lable></td>
                                    }
                                    <td><a href="/showcomment/@item.CommentID" class="btn btn-outline-dark btn-rounded btn-fw">Details</a></td>
                                    <td><a href="/remcomment/@item.CommentID" class="btn btn-outline-danger btn-rounded btn-fw">Delete</a></td>
                                    @if (item.CommentStatus == false)
                                    {
                                        <td><a href="/commentacceptence/@item.CommentID" class="btn btn-outline-info btn-rounded btn-fw">Approve</a></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("ListComments", new { page }), new PagedListRenderOptions
               {
                   UlElementClasses = new List<string> { "btn-group", "pb-2", "pb-lg-0" },
                   LiElementClasses = new List<string> { "btn", "btn-primary" }
               })
                </div>
            </div>
        </div>
    </div>
</div>



