@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mysterious Encyclopedia - Access Denied</title>
    <link rel="stylesheet" href="~/AdminTheme/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/AdminTheme/template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/AdminTheme/template/css/style.css">
    <link rel="shortcut icon" href="~/HomeTheme/img/favicon.ico">
</head>

<body>
    <div class="container-scroller d-flex">
        <div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
            <div class="content-wrapper d-flex align-items-center" style="background-image:url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/63y00O5/access-denied-message-on-a-computer-screen_vnefbpypvx_thumbnail-1080_01.png')">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-transparent p-5 text-center" style="background-color:rgba(10,10,10,0.5); border-radius:16px;">
                            <p class="display-3 text-white" style="font-weight:bold">Sorry, you do not have the permission to view this page!!!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
