
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mysterious Encyclopedia - Error</title>
    <link rel="stylesheet" href="~/AdminTheme/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/AdminTheme/template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/AdminTheme/template/css/style.css">
    <link rel="shortcut icon" href="~/HomeTheme/img/favicon.ico">
</head>

<body>
    <div class="container-scroller d-flex">
        <div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
            <div class="content-wrapper d-flex align-items-center auth lock-full-bg">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-transparent p-5 text-center">
                            <h3 class="display-3 text-white">@ViewBag.codee</h3>
                            <p class="display-4 text-white">@ViewBag.codeMess</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
