@model MysteriousEventDto
@{
    ViewData["Title"] = "Mysterious Event Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media (max-width: 767px) {
        .text-primary {
            font-size: 12px; /* Adjust the font size for smaller screens */
        }
    }
</style>

<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Event Detail</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Event Detail</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="pb-3">
                    <div class="blog-item">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="@Model.EventImage" alt="">
                            <div class="blog-date">
                                <h6 class="font-weight-bold mb-n1">@Model.EventDate.Substring(Math.Max(0, Model.EventDate.Length - 4))</h6>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white mb-3" style="padding: 20px;">
                        @Html.Raw(Model.EventContent)
                        @{
                            List<string> topicsList = new List<string>(Model.EventTopics.Split(","));
                        }
                        <div class="d-flex flex-wrap m-n1">
                            @foreach (var topic in topicsList)
                            {
                                <a href="/Home/HomeMysteriousEventsByTopic?topic=@topic" class="btn btn-dark m-1">@topic</a>
                            }
                        </div>
                        <br />
                        <a href="/Contact/MakeRequest/@Model.EventID" class="btn btn-info px-md-5 mt-2">Request</a>
                    </div>
                </div>
                <!-- Blog Detail End -->
                <!-- Comment List Start -->
                <div class="bg-white" style="padding: 30px; margin-bottom: 30px;">
                    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">3 Comments</h4>
                    <div class="media mb-4">
                        <img src="~/HomeTheme/img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                        <div class="media-body">
                            <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                            <p>
                                Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.
                                Gubergren clita aliquyam consetetur sadipscing, at tempor amet ipsum diam tempor
                                consetetur at sit.
                            </p>

                        </div>
                    </div>
                    <div class="media">
                        <img src="~/HomeTheme/img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                        <div class="media-body">
                            <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                            <p>
                                Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.
                                Gubergren clita aliquyam consetetur sadipscing, at tempor amet ipsum diam tempor
                                consetetur at sit.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- Comment List End -->
                <!-- Comment Form Start -->
                <div class="bg-white mb-3" style="padding: 30px;">
                    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h4>
                    <form>
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="website">Website</label>
                            <input type="url" class="form-control" id="website">
                        </div>

                        <div class="form-group">
                            <label for="message">Message *</label>
                            <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <input type="submit" value="Leave a comment"
                                   class="btn btn-primary font-weight-semi-bold py-2 px-3">
                        </div>
                    </form>
                </div>
                <!-- Comment Form End -->
            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">

                <!-- Topic List -->
                @await Component.InvokeAsync("TopicsInHomeMysteriousEvents")
                <!-- Last Added Events -->
                @await Component.InvokeAsync("LastAddedEventsInHomeMysteriousEvents")

                <!-- Tag Cloud -->
                @await Component.InvokeAsync("HomeTagsOnSidebar")
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
