
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" style="max-height: 1080px;" src="~/HomeTheme/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Mysteries</h4>
                        <h4 class="font-weight-lighter text-white mb-md-4">Dive into the enigmatic realms of our encyclopedic wonderland, where mysteries unfold with each click</h4>
                        <a href="/mysteriousevents" class="btn btn-primary py-md-3 px-md-5 mt-2">Start Reading</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" style="max-height: 1080px;" src="~/HomeTheme/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Unknowns</h4>
                        <h4 class="font-weight-lighter text-white mb-md-4">Discover the secrets of the unknown in history, science, and the inexplicable on our captivating platform</h4>
                        <a href="/mysteriousevents" class="btn btn-primary py-md-3 px-md-5 mt-2">Start Reading</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>
<!-- Carousel End -->

<!-- Destination Start -->
@await Component.InvokeAsync("TopicsInHomePage")
<!-- Destination Start -->

<!-- Blog Start -->
@await Component.InvokeAsync("MysteriousEventsInHomePage")
<!-- Blog End -->